.body-center2{
    position: relative;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 75%;
    height: max-content;

    margin-left: 3vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 1.5vw 1vw rgb(210, 210, 210);
}

/* SEARCH */
.body-left2__searchBlock{
    display: flex;
    justify-content: center;

    font-size: var(--myfontsize);
}

.body-left2-Acontent__sidebar__element__form{
    width: 50%;

    display: flex;

    font-size: 0.7em;

    padding: 1% 2%;

    background-color: rgb(240, 240, 240);
    border-radius: 1vw;
}

.body-left2-Acontent__sidebar__element__form i{
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.6em;
}

.body-left2-Acontent__sidebar__element__form input{
    border: 0;
    outline: 0;

    width: 85%;
    font-size: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

.body-left2__searchBlock--showYear{
    width: max-content;
    max-width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.4em;

    overflow-x: hidden;
    text-wrap: nowrap;

    padding: 1% 2%;
    margin-left: 5%;

    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 0.3vw;

    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.body-left2__searchBlock--showYear i{
    margin-left: 5%;

    transform: rotate(180deg);
}

.body-left2__searchBlock--showYear:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(37, 37, 37);
    background-color: rgb(220, 220, 220);
}

.body-left2__searchBlock--showYear:active{
    transform: scale(0.95);
}

/* LEFT CONTENT*/
.body-left2 .Acontent__sidebar__element__content{
    overflow: hidden;
    height: 0;
}

/* LEFT ACTION BUTTON */
.body-left2__sidebarBtn{
    font-size: 0.45em;
    text-align: center;
    border-radius: 0 0 0.5vw 0.5vw;

    margin-top: 2%;

    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.body-left2__sidebarBtn:hover{
    cursor: pointer;
    
    background-color: rgb(37, 37, 37);
    color: white;
    transform: scale(1.03);
}

.body-left2__sidebarBtn:active{
    transform: scale(0.8);
}

.body-left2__sidebarBtn i{
    transform: rotate(180deg);
}

/* BODY CENTER HEADER */
    #body-center2__header{
        position: relative;
        height: 20vw;

        display: flex;
        flex-direction: row;

        margin-top: 2%;

        background-image: linear-gradient(45deg, rgb(242, 254, 255), rgb(182, 246, 255));
    }

    /* LEFT */
        #body-center2__header__pics{
            position: relative;
            width: 40%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: transparent;
        }

        #body-center2__header__pics #background{
            position: relative;
            width: 95%;
            height: max-content;

            object-fit: cover;
        }

        #body-center2__header__pics #pictures--avatar{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 8vw;
            height: 8vw;

            background-color: aqua;
            border-radius: 50%;
        }

        #body-center2__header__pics__className{
            color: rgb(37, 37, 37);
            padding: 1% 0;
            font-size: calc(var(--myfontsize)/1.2);
        }

        #avatar{
            position: absolute;
            width: 100%;
            height: 100%;

            border: 0.25vw solid rgb(37, 37, 37);
            object-fit: cover;
        }

        @media screen and (max-width: 310px){
            #avatar{
                border: 0.775px solid rgb(37, 37, 37);
            }
        }

        @media screen and (min-width: 1400px){
            #avatar{
                border: 3.5px solid rgb(37, 37, 37);
            }
        }

    /* RIGHT */
        #body-center2__header__rightSide{
            position: relative;
            width: 60%;
            height: 100%;

            display: grid;
            grid-template-columns: 50% 50%;

            font-size: var(--myfontsize);

            padding: 1% 1%;

            background-color: white;
            border-radius: 0.5vw;
            box-shadow: 0vw 0vw 0.5vw 0vw rgb(158, 158, 158);
        } 

        .body-center2__header__rightSide__element{
            position: relative;
            height: 100%;

            display: flex;
            flex-direction: column;

            overflow: hidden;

            border-radius: 0.5vw;

            font-size: 0.6em;
            padding: 0 2%;

            border: 0.15vw solid gray;
        }

        .body-center2__header__rightSide__element + .body-center2__header__rightSide__element{
            margin-left: 2%;
        }

        .body-center2__header__rightSide__element__title{
            height: max-content;

            padding: 1.5% 0;

            text-align: center;

            border-bottom: 0.2vw solid gray;
        }

        .body-center2__header__rightSide__element__list{
            position: relative;
            height: max-content;

            list-style: none;
        }

        .body-center2__header__rightSide__element__list__element{
            background-color: rgb(240, 240, 240);
            padding: 1% 2%;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 2%;

            font-size: 0.8em;

            border-radius: 0.5vw;

            transition: transform 0.3s, background-color 0.3s, color 0.3s;
        }

        .body-center2__header__rightSide__element__list__element__title{
            width: 100%;
            font-size: 1.1em;

            border-bottom: 0.1vw solid rgb(37, 37, 37);
        }

        .body-center2__header__rightSide__element__list__element__text{
            width: 100%;
            font-size: 0.85em;

            margin-top: 2%;
        }

/* BODY TABLE */
    /* NAV BAR */
    .body-center2__bodyTable__nav{
        display: flex;
        font-size: 0.5em;
    }

    .body-center2__bodyTable__nav__element{
        background-color: rgb(240, 240, 240);
        padding: 0.5% 2%;

        text-wrap: nowrap;

        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }

    .body-center2__bodyTable__nav__element + .body-center2__bodyTable__nav__element{
        margin-left: 1%;
    }

    .body-center2__bodyTable__nav__element:hover{
        cursor: pointer;
        background-color: rgb(37, 37, 37);
        color: white;
        transform: scale(1.05);
    }

    .body-center2__bodyTable__nav__element:active{
        transform: scale(0.95);
    }